.row {
  position: relative;
  background: #044da1;
  padding: 20px 0px;
  border-radius: 16px;
}

.logo {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  line-height: 54px;
  padding: 32px;
  text-align: center;
  background-color: #044da1;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -1px;
}

.menu-col {
  line-height: 22px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.sign-up {
  text-align: right;
}

.sign-up button {
  background-color: #ee6078;
  border: none;
  padding: 12px;
  width: 160px;
  height: 50px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0px, -50%);
  border-radius: 16px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
}
