<div class="row footer-row">
  <div class="col-sm-12 col-md-6 col-lg-3">
    <ul>
      <li class="head">Moqups</li>
      <li>
        <a href="#">Tour</a>
      </li>
      <li>
        <a href="#">Features</a>
      </li>
      <li>
        <a href="#">Benefits</a>
      </li>
      <li>
        <a href="#">Testimonials</a>
      </li>
      <li>
        <a href="#">Pricing</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <ul>
      <li class="head">Templates</li>
      <li>
        <a href="#">Wireframes & Mock</a>
      </li>
      <li>
        <a href="#">Diagrams & Flowchart</a>
      </li>
      <li>
        <a href="#">Mind Maps</a>
      </li>
      <li>
        <a href="#">Process Flowchart</a>
      </li>
      <li>
        <a href="#">Graphs</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <ul>
      <li class="head">Resources</li>
      <li>
        <a href="#">Product Updates</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <ul>
      <li class="head">Support</li>
      <li>
        <a href="#">Help Center</a>
      </li>
      <li>
        <a href="#">Contact Us</a>
      </li>
      <li>
        <a href="#">FAQ</a>
      </li>
    </ul>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12 copyright">© GPS Health Online</div>
</div>
