.container-row {
  border-bottom: 1px solid #444444;
}

.list-container {
  margin: 80px 0px;
}

.profile-photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.doctors-info {
  margin-bottom: 28px;
}

.doctors-info .name {
  font-size: 1.5rem; /*24px*/
  line-height: 1.68rem; /*27px*/
  font-weight: 300;
  margin-bottom: 10px;
}

.degrees {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 200;
  margin-bottom: 35px;
}

.speciality {
  display: inline-block;
  min-width: 160px;
  border-radius: 24px;
  background-color: #d8d8d8;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 300;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 16px;
}

.clinic-charges {
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  padding: 12px;
  border: 2px solid #044da1;
  border-radius: 24px;
  text-transform: uppercase;
  font-weight: 300;
  color: #044da1;
}

.clinic-info {
  margin-bottom: 32px;
}

.clinic-info h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  margin: 0px;
}

.clinic-info p {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.clinic-info a {
  color: #ee6078;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 300;
  text-decoration: none;
}

.contact-info {
  background-color: #ffffff;
}

.contact-info ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-info ul li {
  display: inline-block;
  padding: 24px;
}

.contact-info ul li a {
  color: #ee6078;
  text-decoration: none;
}

.appointment-calender {
  background-color: #ffffff;
  padding: 40px;
  margin-top: 75px;
  max-height: 450px;
  overflow: scroll;
}

.appointment-header {
  margin-bottom: 40px;
}

.appointment-header .title {
  font-size: 20px;
}

.appointment-body .date-and-day ul,
.appointment-body .slot ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appointment-body .date-and-day ul li {
  min-width: 75px;
}

.appointment-body .date-and-day ul li p {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.appointment-body .slot ul {
  margin-top: 25px;
}

.appointment-body .slot ul li div {
  min-width: 75px;
  height: 56px;
  text-align: center;
  background-color: #e3e3e3;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appointment-body .slot ul li.vacant div {
  border: 2px solid #044da1;
  background-color: transparent;
  color: #044da1;
}

.appointment-body .slot ul li.booked div {
  background-color: #044da1;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .appointment-calender {
    margin-top: 0;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .doctors-info .name {
    margin-top: 20px;
  }
  .appointment-calender {
    max-height: 300px;
  }
  .appointment-body .slot ul li div {
    min-width: 60px;
  }
}
